.container
    %p= t('.welcome_msg')
.container
    - if !@albums.empty?
        #menu
            - @albums.each do |album|
                %h3= album.album_title
                %div
                    - if !album.songs.empty?
                        #button
                            = link_to t('.show_album'), album
                        %br
                        %table
                            %thead
                                %tr
                                    %th= t('.song_col_title')
                                    %th= t('.song_col_genre')
                                    %th= t('.song_col_length')
                                    %th= t('.reviews')
                                    %th
                            %tbody
                                - album.songs.each do |song|
                                    %tr
                                        %td= song.song_title
                                        %td= song.genre
                                        %td= song.length
                                        %td= song.reviews.count
                                        %td= link_to t('.show'), song
                    - else
                        %p= t('.no_songs')
    - else                    
        %p= t('.no_albums')