%p#notice= notice

%p
  %b Album:
  = @song.album.album_title
%p
  %b Song title:
  = @song.song_title
%p
  %b Genre:
  = @song.genre
%p
  %b Length:
  = @song.length
  
= link_to t('.edit_song'), edit_song_path(@song)
\|
= link_to t('.back'), albums_path

%p Ratings:
%table
  %thead
    %tr
      %th Reviewer
      %th Rating (out of 5)
      %th Review
      %th{:colspan => "2"}= 'Actions'
  %tbody
  - @song.reviews.each do |review|
    %tr 
      %td= review.reviewer
      %td= review.rating
      %td= review.review
      %td= link_to t('.edit_review'), edit_review_path(review)
      %td= link_to t('.delete_review'), review, :method => :delete, :data => { :confirm => t('.delete_confirm')}
%br
#button
  = link_to t('.add_review'), new_review_path(song_id: @song)