.container
  %h2
    = @song.song_title
  %h4
    = @song.album.album_title
    %br
    = @song.genre
    %br
    = @song.length
    minutes
#showcontrols  
  #newbutton
    = link_to t('.add_song'), new_song_path(album_id: @song.album)
  #editbutton
    = link_to t('.edit_song'), edit_song_path(@song)
  #backbutton
    = link_to t('.back'), @song.album
.container
  / if there are reviews for the song, display them in a table
  - if !@song.reviews.empty?
    %h3= t('.ratings_title')
    %table
      %thead
        %tr
          %th= t('.rating_col_reviewer')
          %th= t('.rating_col_rating')
          %th= t('.rating_col_review')
          %th{:colspan => "2"}= t('.actions')
      %tbody
      - @song.reviews.each do |review|
        %tr 
          %td= review.reviewer
          %td= review.rating
          %td= review.review
          %td= link_to t('.edit_review'), edit_review_path(review)
          %td= link_to t('.delete_review'), review, :method => :delete, :data => { :confirm => t('.delete_confirm')}
  - else
    / if there are no reviews for the song, notify the user
    %p= t('.no_reviews')
%br
#button
  = link_to t('.new_review'), new_review_path(song_id: @song)