%p#notice= notice

%p
  %b Album:
  = @song.album.album_title
%p
  %b Song title:
  = @song.song_title
%p
  %b Genre:
  = @song.genre
%p
  %b Length:
  = @song.length

= link_to 'Edit', edit_song_path(@song)
\|
= link_to 'Back', albums_path(@album)
