.container
  / form id for jQuery form validation
  = form_for @album, :html => {id: 'form'} do |f|
    .field
      = f.label :album_title
      / user will be notified that a title is required if title field empty
      = f.text_field :album_title, :class => "required"
    .field
      = f.label :album_artist
      / user will be notified that an artist is required if artist field empty
      = f.text_field :album_artist, :class => "required"
    .field
      = f.label :release_date
      / user will be notified that a date is required if date empty
      = f.date_select :release_date, :class => "required"
    .actions
      = f.submit t('.save')
