.container
    %h1 
        = t('.edit')
        = @album.album_title

= render 'form'

#controls
    #editbutton
        = link_to t('.show'), @album
    #backbutton
        = link_to t('.back'), albums_path
