%h1 Listing albums

%table
  %thead
    %tr
      %th Album title
      %th Album artist
      %th Release date
      %th
      %th
      %th

  %tbody
    - @albums.each do |album|
      %tr
        %td= album.album_title
        %td= album.album_artist
        %td= album.release_date
        %td= link_to t('.show_album'), album
        %td= link_to t('.edit_album'), edit_album_path(album)
        %td= link_to t('.delete_album'), album, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to t('.new_album'), new_album_path
