.container
  %h2
    = @album.album_title
  %h4
    = @album.album_artist
    %br
    %b= t('.released') 
    = @album.release_date
#controls
  #editbutton
    = link_to t('.edit_album'), edit_album_path(@album)
  #backbutton
    = link_to t('.back'), albums_path

.container
  / if there are songs in the album, display them in a table
  - if !@album.songs.empty?
    %h3= t('.songs_title')
    %table
      %thead
        %tr
          %th= t('.song_col_title')
          %th= t('.song_col_genre')
          %th= t('.song_col_length')
          %th= t('.song_col_reviews')
          %th{:colspan => "3"}= t('.actions')
      %tbody
      - @album.songs.each do |song|
        %tr 
          %td= song.song_title
          %td= song.genre
          %td= song.length
          %td= song.reviews.count
          %td= link_to t('.show_song'), song
          %td= link_to t('.edit_song'), edit_song_path(song)
          %td= link_to t('.delete_song'), song, :method => :delete, :data => { :confirm => t('.delete_confirm')}
  - else
    / if there are no songs in the album, notify the user
    %p= t('.no_songs')
%br
#button
  = link_to t('.new_song'), new_song_path(album_id: @album)