%p= "Dear #{t('app_title')},"
%p= "Please get in touch with me?"

%dl
    %dt Name:
    %dd= @name
    %dt Email:
    %dd= @email
    %dt Mobile:
    %dd= @mobile
    
%p= @message
%p Thanks,
%p= @name