%h1 Listing reviews

%table
  %thead
    %tr
      %th Song
      %th Reviewer
      %th Rating
      %th Review
      %th{:colspan => "3"}= 'Actions'

  %tbody
    - @reviews.each do |review|
      %tr
        %td= review.song.song_title
        %td= review.reviewer
        %td= review.rating
        %td= review.review
        %td= link_to t('.show_review'), review
        %td= link_to t('.edit_review'), edit_review_path(review)
        %td= link_to t('.delete_review'), review, method: :delete, data: { confirm: 'Are you sure?' }

%br

%div{:class => "button"}= link_to 'New Review', new_review_path
