%p#notice= notice

%p
  %b Song:
  = @review.song.song_title
%p
  %b Reviewer:
  = @review.reviewer
%p
  %b Rating:
  = @review.rating
%p
  %b Review:
  = @review.review

= link_to t('.edit_review'), edit_review_path(@review)
\|
= link_to t('.back'), songs_path(@song)
